<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fei2e.getlost.mapper.MatchRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fei2e.getlost.entity.MatchRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="match_id" property="matchId" jdbcType="INTEGER" />
    <result column="lost_id" property="lostId" jdbcType="INTEGER" />
    <result column="get_id" property="getId" jdbcType="INTEGER" />
  </resultMap>
</mapper>